In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cust_seg.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df = df.drop('Unnamed: 0',axis=1)
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [4]:
df.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'ind_ahor_fin_ult1',
       'ind_aval_fin_ult1', 'ind_cco_fin_ult1', 'ind_cder_fin_ult1',
       'ind_cno_fin_ult1', 'ind_ctju_fin_ult1', 'ind_ctma_fin_ult1',
       'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1', 'ind_deco_fin_ult1',
       'ind_deme_fin_ult1', 'ind_dela_fin_ult1', 'ind_ecue_fin_ult1',
       'ind_fond_fin_ult1', 'ind_hip_fin_ult1', 'ind_plan_fin_ult1',
       'ind_pres_fin_ult1', 'ind_reca_fin_ult1', 'ind_tjcr_fin_ult1',
       'ind_valo_fin_ult1', 'ind_viv_fin_ult1', 'ind_nomina_ult1',
       'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

In [5]:
df.shape

(1000000, 47)

### This is a unsupervised machine learning problem, since there is no classification or target variable, the data is to be segmented into groups to provide targeted advertisements.

### Step 1: Cleaning the data

#### NA values

In [6]:
df.isnull().sum()

fecha_dato                    0
ncodpers                      0
ind_empleado              10782
pais_residencia           10782
sexo                      10786
age                           0
fecha_alta                10782
ind_nuevo                 10782
antiguedad                    0
indrel                    10782
ult_fec_cli_1t           998899
indrel_1mes               10782
tiprel_1mes               10782
indresi                   10782
indext                    10782
conyuemp                 999822
canal_entrada             10861
indfall                   10782
tipodom                   10782
cod_prov                  17734
nomprov                   17734
ind_actividad_cliente     10782
renta                    175183
ind_ahor_fin_ult1             0
ind_aval_fin_ult1             0
ind_cco_fin_ult1              0
ind_cder_fin_ult1             0
ind_cno_fin_ult1              0
ind_ctju_fin_ult1             0
ind_ctma_fin_ult1             0
ind_ctop_fin_ult1             0
ind_ctpp_fin_ult1             0
ind_deco_fin_ult1             0
ind_deme_fin_ult1             0
ind_dela_fin_ult1             0
ind_ecue_fin_ult1             0
ind_fond_fin_ult1             0
ind_hip_fin_ult1              0
ind_plan_fin_ult1             0
ind_pres_fin_ult1             0
ind_reca_fin_ult1             0
ind_tjcr_fin_ult1             0
ind_valo_fin_ult1             0
ind_viv_fin_ult1              0
ind_nomina_ult1            5402
ind_nom_pens_ult1          5402
ind_recibo_ult1               0
dtype: int64

In [7]:
ratio = len(df['ult_fec_cli_1t'][df['ult_fec_cli_1t'].isnull()])/len(df['ult_fec_cli_1t'])
ratio_2 = len(df['conyuemp'][df['conyuemp'].isnull()])/len(df['conyuemp'])
ratio_3 = len(df['renta'][df['renta'].isnull()])/len(df['renta'])
ratio_4 = len(df['ind_empleado'][df['ind_empleado'].isnull()])/len(df['ind_empleado'])
ratio*100, ratio_2*100, ratio_3*100, ratio_4*100

(99.8899, 99.9822, 17.5183, 1.0782)

In [8]:
df[df['ind_empleado'].isnull()].isnull().sum()

fecha_dato                   0
ncodpers                     0
ind_empleado             10782
pais_residencia          10782
sexo                     10782
age                          0
fecha_alta               10782
ind_nuevo                10782
antiguedad                   0
indrel                   10782
ult_fec_cli_1t           10782
indrel_1mes              10782
tiprel_1mes              10782
indresi                  10782
indext                   10782
conyuemp                 10782
canal_entrada            10782
indfall                  10782
tipodom                  10782
cod_prov                 10782
nomprov                  10782
ind_actividad_cliente    10782
renta                    10782
ind_ahor_fin_ult1            0
ind_aval_fin_ult1            0
ind_cco_fin_ult1             0
ind_cder_fin_ult1            0
ind_cno_fin_ult1             0
ind_ctju_fin_ult1            0
ind_ctma_fin_ult1            0
ind_ctop_fin_ult1            0
ind_ctpp_fin_ult1            0
ind_deco_fin_ult1            0
ind_deme_fin_ult1            0
ind_dela_fin_ult1            0
ind_ecue_fin_ult1            0
ind_fond_fin_ult1            0
ind_hip_fin_ult1             0
ind_plan_fin_ult1            0
ind_pres_fin_ult1            0
ind_reca_fin_ult1            0
ind_tjcr_fin_ult1            0
ind_valo_fin_ult1            0
ind_viv_fin_ult1             0
ind_nomina_ult1           5302
ind_nom_pens_ult1         5302
ind_recibo_ult1              0
dtype: int64

As we can see the observations which have null values are overlapping, i.e same records have missing values in all columns.

#### The columns ult_fec_cli_1t and conyuemp have 99% null values so the best action would be to drop these two columns. The renta coulmn represents the gross income of the family, and has about 17% of null values, these null values can be replaced by the average of column. There are null values in other columns but they amount to around 1% of the dataset so I have decided to remove them from the dataset.

In [9]:
df = df.drop(["ult_fec_cli_1t","conyuemp"], axis = 1)

Removed 2 columns

In [10]:
avg_renta = sum(df['renta'][df['renta'].notnull()])/len(df['renta'][df['renta'].notnull()])
df['renta'].fillna(avg_renta, inplace = True)
df['renta'][df['renta'].isnull()].sum()

0.0

Replaced nulls in renta column with average value, now we can go ahead and remove all other null values.

In [11]:
df = df.dropna()

In [12]:
df.isnull().sum()

fecha_dato               0
ncodpers                 0
ind_empleado             0
pais_residencia          0
sexo                     0
age                      0
fecha_alta               0
ind_nuevo                0
antiguedad               0
indrel                   0
indrel_1mes              0
tiprel_1mes              0
indresi                  0
indext                   0
canal_entrada            0
indfall                  0
tipodom                  0
cod_prov                 0
nomprov                  0
ind_actividad_cliente    0
renta                    0
ind_ahor_fin_ult1        0
ind_aval_fin_ult1        0
ind_cco_fin_ult1         0
ind_cder_fin_ult1        0
ind_cno_fin_ult1         0
ind_ctju_fin_ult1        0
ind_ctma_fin_ult1        0
ind_ctop_fin_ult1        0
ind_ctpp_fin_ult1        0
ind_deco_fin_ult1        0
ind_deme_fin_ult1        0
ind_dela_fin_ult1        0
ind_ecue_fin_ult1        0
ind_fond_fin_ult1        0
ind_hip_fin_ult1         0
ind_plan_fin_ult1        0
ind_pres_fin_ult1        0
ind_reca_fin_ult1        0
ind_tjcr_fin_ult1        0
ind_valo_fin_ult1        0
ind_viv_fin_ult1         0
ind_nomina_ult1          0
ind_nom_pens_ult1        0
ind_recibo_ult1          0
dtype: int64

Data does not contain null values now.

In [13]:
df.shape

(982105, 45)

We have the shape of the final dataset here which has 2 columns removed and retains 98% of the observations.

### Types of colums

In [14]:
df.dtypes

fecha_dato                object
ncodpers                   int64
ind_empleado              object
pais_residencia           object
sexo                      object
age                       object
fecha_alta                object
ind_nuevo                float64
antiguedad                object
indrel                   float64
indrel_1mes              float64
tiprel_1mes               object
indresi                   object
indext                    object
canal_entrada             object
indfall                   object
tipodom                  float64
cod_prov                 float64
nomprov                   object
ind_actividad_cliente    float64
renta                    float64
ind_ahor_fin_ult1          int64
ind_aval_fin_ult1          int64
ind_cco_fin_ult1           int64
ind_cder_fin_ult1          int64
ind_cno_fin_ult1           int64
ind_ctju_fin_ult1          int64
ind_ctma_fin_ult1          int64
ind_ctop_fin_ult1          int64
ind_ctpp_fin_ult1          int64
ind_deco_fin_ult1          int64
ind_deme_fin_ult1          int64
ind_dela_fin_ult1          int64
ind_ecue_fin_ult1          int64
ind_fond_fin_ult1          int64
ind_hip_fin_ult1           int64
ind_plan_fin_ult1          int64
ind_pres_fin_ult1          int64
ind_reca_fin_ult1          int64
ind_tjcr_fin_ult1          int64
ind_valo_fin_ult1          int64
ind_viv_fin_ult1           int64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1            int64
dtype: object

In [15]:
df['fecha_dato'] = pd.to_datetime(df['fecha_dato'])

In [16]:
df['age'] = df['age'].astype(int)

In [17]:
df['fecha_alta'] = pd.to_datetime(df['fecha_alta'])

In [18]:
df['antiguedad'] = df['antiguedad'].astype(int)

All columns have been assigned correct dtypes

In [19]:
df.dtypes

fecha_dato               datetime64[ns]
ncodpers                          int64
ind_empleado                     object
pais_residencia                  object
sexo                             object
age                               int32
fecha_alta               datetime64[ns]
ind_nuevo                       float64
antiguedad                        int32
indrel                          float64
indrel_1mes                     float64
tiprel_1mes                      object
indresi                          object
indext                           object
canal_entrada                    object
indfall                          object
tipodom                         float64
cod_prov                        float64
nomprov                          object
ind_actividad_cliente           float64
renta                           float64
ind_ahor_fin_ult1                 int64
ind_aval_fin_ult1                 int64
ind_cco_fin_ult1                  int64
ind_cder_fin_ult1                 int64
ind_cno_fin_ult1                  int64
ind_ctju_fin_ult1                 int64
ind_ctma_fin_ult1                 int64
ind_ctop_fin_ult1                 int64
ind_ctpp_fin_ult1                 int64
ind_deco_fin_ult1                 int64
ind_deme_fin_ult1                 int64
ind_dela_fin_ult1                 int64
ind_ecue_fin_ult1                 int64
ind_fond_fin_ult1                 int64
ind_hip_fin_ult1                  int64
ind_plan_fin_ult1                 int64
ind_pres_fin_ult1                 int64
ind_reca_fin_ult1                 int64
ind_tjcr_fin_ult1                 int64
ind_valo_fin_ult1                 int64
ind_viv_fin_ult1                  int64
ind_nomina_ult1                 float64
ind_nom_pens_ult1               float64
ind_recibo_ult1                   int64
dtype: object

In [20]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [21]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [23]:
df.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel', 'indrel_1mes',
       'tiprel_1mes', 'indresi', 'indext', 'canal_entrada', 'indfall',
       'tipodom', 'cod_prov', 'nomprov', 'ind_actividad_cliente', 'renta',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

In [24]:
df['fecha_dato'].unique()

array(['2015-01-28T00:00:00.000000000', '2015-02-28T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [26]:
df['ind_empleado'].unique()

array(['N', 'A', 'F', 'B', 'S'], dtype=object)

In [27]:
df['sexo'].unique()

array(['H', 'V'], dtype=object)

In [29]:
df['pais_residencia'].unique()

array(['ES', 'IT', 'DE', 'BO', 'PY'], dtype=object)

In [33]:
df['fecha_alta'].unique()

array(['2015-01-12T00:00:00.000000000', '2012-08-10T00:00:00.000000000',
       '2012-08-16T00:00:00.000000000', ...,
       '2015-01-31T00:00:00.000000000', '2015-02-17T00:00:00.000000000',
       '2015-02-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [ ]:
columns_to_use = ['ind_empleado', 'pais_residencia', 'sexo', 'age', 'ind_nuevo', 'antiguedad', 'indrel_1mes', 'tiprel_1mes',
                 'indresi', 'indext', 'canal_entrada','nomprov', 'renta']

In [38]:
df[df['antiguedad']<0] # remove these rows

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
452687,2015-01-28,138388,N,ES,V,51,1999-07-16,0.0,-999999,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1
461981,2015-01-28,162278,N,ES,V,66,2005-06-08,0.0,-999999,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
788786,2015-02-28,162278,N,ES,V,66,2005-06-08,0.0,-999999,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
800687,2015-02-28,138388,N,ES,V,51,1999-07-16,0.0,-999999,1.0,...,1,1,0,1,1,1,0,1.0,1.0,1